.projects-outer-box{
    width:100%;
    min-height:100vh;
}
.main-projects-div{
    min-height:30vh;
    margin: 120px;
    display:inline-flex;
}
.see-all-projects{
    background-color: rgb(245, 101, 57) !important;
    width:230px !important;
    height:60px !important;
    float: right;
    margin:-10px 20px 0 calc(100vw - 230px);
}
.see-all-projects:hover{
    background-color: black !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width:912px){
    .main-projects-div{
        display: block;
        margin:0;
    }
}