.main-account-div {
  display: inline-flex;
  margin-bottom: 120px;
}

.logo-div {
  margin: 0 20px;
  width: 80px;
  height: 80px;
  background-color: red;
  color: white;
  background-size: cover;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.account-name-div {
  margin: auto;
  text-align: center;
  color: white;
}
