.project-outer-box{
    width: 350px;
    height:250px;
    border-radius: 5px;
    overflow: hidden;
        background-size: cover;
    background-image: url('../Images/bg1.png');
}
.project-outer-box:hover{
    background-color: black;
}
.project-name{
    text-align: center;
    color:white;
    font-size: 30px;
    padding:120px 0;
    text-shadow: 3px 3px blue;
}

.project-details{
    /* z-index:000; */
    border-radius: 10px;
    position:absolute;
    width: 350px;
    height:250px;
    background-color: aqua;
}