#root{
    top:0 !important;
}
.heading{
    font-size: 60px;
    color: rgb(245, 101, 57);
    margin:10px 50px;
}
.active{
    color:aqua !important;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }